
/* stylelint-disable */
:root {
  --margin-cards: 5px 0;
}

#popUp-comments {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  background-color: rgba(255, 0, 0, 0.498);
  backdrop-filter: blur(100px);
  position: fixed;
  display: flex;
  justify-content: center; 
  top: 0;
  display: none;
}

/* Desktop version */
@media only screen and (min-width: 770px) {
  /* Container the info about cards */
  .container-card {
    width: 90vw;
    height: 90vh;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    padding-top: 2%;
    position: relative;
  }

  .container-wrap {
    display: grid;
    grid-template-areas:'img comment'
                        'img comment'
                        'img features'
                        'input input';
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 4fr;
    align-items: center;
    width: 90%;
    height: 95%;
  }

  /* Container img and name of the pokemon */
  .card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    grid-area: img;
    background-color: rgba(255, 217, 0, 0.206);
    border-radius: 150px 0 125px 0;
  }

  .name-pokemon-card {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  .x-close {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    right: 20px;
    top: 10px;
  }

  .img-card {
    width: 100%;
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    max-width: 200px; 
    
  }

  /* Features of the pokemons */
  .features-card {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--margin-cards);
    padding: 10px 0 10px 0;
    gap: 10px;
    grid-area: features;
  }

  .features-card li {
    font-size: 19px;
    border-radius: 15px;
    width: 40%;
    height: 35%;
    background-color: rgb(212, 68, 68);
    color: white;
    list-style: none;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(226, 151, 59));
    padding: 5px 0 5px 15px;
  }

  /* Comments section */
  .comments-section {
    margin: var(--margin-cards);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: comment;
  }

  .title-comments {
    font-size: 20px;
  }

  .comments-list {
    margin: 0;
    width: 95%;
    margin: 2px;
    max-height: 250px;
    list-style: none;
    overflow-y: scroll;
  }

  .comments-list li {
    font-size: 20px;
  }

  /* form to add comments */
  .form-comments {
    grid-area: input;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding-left: 10px;
  }

  .form-title {
    font-size: 30px;
    margin: 0 auto;
  }

  .input-text {
    width: 75%;
    height: 15%;
  }

  .input-comment {
    width: 99%;
    height: 40%;
  }

  #btn-submit {
    width: 50%;
    height: 15%;
    font-size: 25px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
  }

  #btn-submit:active {
    background-color: green;
    color: white;
  }

  .form-comments input { 
    border: none;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #000;
  }

  ::placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

/* Mobil version */
@media only screen and (max-width: 770px) {
  :root {
    --margin-cards: 10px 0;
  }

  /* Container the info about cards */
  .container-card {
    width: 89vw;
    height: 92vh;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
  }

  .container-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 600px;
    padding-top: 5%;
    margin: 0;
    position: relative;
  }

  .card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
  }

  .name-pokemon-card {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  .x-close {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    right: 20px;
    top: 10px;
  }

  .img-card {
    width: 40%;
    border: none;
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    max-width: 250px; 
  }

 /* Features of the pokemons */
 .features-card {
    width: 100%;
    height: 12%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--margin-cards);
    gap: 5px;
  }

  .features-card li {
    border-radius: 15px;
    width: 40%;
    height: 25%;
    background-color: rgb(212, 68, 68);
    color: white;
    list-style: none;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(226, 151, 59));
    padding: 5px 0 5px 15px;
  }

  /* Comments section */
  .comments-section {
    margin: var(--margin-cards);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-comments {
    font-size: 20px;
  }

  .comments-list {
    margin: 0;
    width: 95%;
    margin: 2px;
    list-style: none;
    overflow-y: scroll;
  }

  .comments-list li {
    font-size: 15px;
  }

  /* form to add comments */
  .form-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 40%;
    gap: 5px;
    margin: var(--margin-cards);
  }

  .form-title {
    font-size: 18px;
    margin: 0 auto;
  }

  .input-text {
    width: 75%;
    height: 15%;
  }

  .input-comment {
    width: 95%;
    height: 30%;
  }

  #btn-submit {
    width: 50%;
    height: 25%;
    font-size: 25px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
  }

  #btn-submit:active {
    background-color: green;
    color: white;
  }

  .form-comments input { 
    border: none;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #000;
  }
  
  ::placeholder {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}